@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body{
  background-color: #f9fafb;
}


.container{
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

/* --------------- Navbar Styling ------------------ */

.top-nav{

  background-color: #f9fafb;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  border-top-color: #5D001E;
  
  border-bottom: none;
  box-shadow: none;
  box-sizing: border-box;

  top: 0;
  z-index: 1000;
  position: fixed;
 

}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }
}

.nav-menu {
  display: flex;
  list-style: none;
}

@media (max-width:768px){
  .nav-menu {
    display: none;
    flex-direction: column;

    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ee1212;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }

  .nav-menu.open {
    display: flex;
  }
}


.nav-links {        /* Display Menu Options Horizontally */
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  list-style: none;
  padding-right: 2rem;
  padding-top: 1rem;
  margin: 0;

  
}

@media (max-width: 768px){
  .nav-links{
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    
    text-align: center;
  }
}


.menu-options {     /* Horizontal Menu Option Styling*/
  display: block;
  padding: 1rem;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu-options:hover {      /* Change Color while Hovering (Horizontal Options) */
  background-color: rgba(0, 136, 22, 0.545);
}

@media (max-width: 768px){
  .menu-options{
    width: 100%;
    padding: 1rem 0;
    color: aliceblue;
  }
}

.nameLogo{   /* Style the Name Logo in the Navbar */
  
  text-decoration: none;
  font-family:'Cinzel', serif;
  /* color: #25274D; */
  color: #00887A;
  font-size: 1.9rem;
  font-weight: 500;
}

/* Styling the Hero Component */

.hero{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f4f9fc;
  margin-top: 4rem;
  
}

@media (min-width: 40em){
  /* .hero > * {
    flex-basis: 100%;
} */

.hero > * + * {
    margin-left: 2em;
  }
}


.main-pic{    /*Div containing the pic & the icons*/
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.main-pic img{    /*The main Image in the Hero Component */
  max-height: 10rem;
  width: auto;
  border-radius: 50%;
  margin-top: 2rem;
  
}

@media (min-width: 40em){
  .main-pic img{
    max-height: 15rem;
  }
}

.my-intro{
  
  display: flex; 
  font-family: "Poppins", sans-serif;
  color: #141619;
  
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  align-items: center;
  justify-content: center;
  font-size: 1.3125rem;
  
}

@media (min-width: 40em){   /* Bigger Intro Font on bigger screen */
  .my-intro{
      font-size: 6rem;
  }
}

.my-name{        /*Coloring the name in Intro*/
  color: #5D001E;
}

